:root {
    --dimension: 100vmin;
    --background: #c4b5fd;
    --foreground: #8b5cf6;
}

body {
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

#top-container {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

#form-container {
    width: min(80vw, 475px);
}

#uname, #passwd, #email {
    margin-bottom: 3%;
}

#button-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--foreground);
    font-size: 1rem;
    margin-top: 5%;
}